* {
  box-sizing: border-box;
}

body {
  background: white;
  margin: 0 auto;
  max-width: 1000px;
  font-family: system-ui, sans-serif;
  line-height: 1.45;
}

.vis-div {
  height: fit-content;
  width: fit-content;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}

.vis-div h2 {
  margin-right: 10px;
}
